.icon_nav{
  height: 20px;
  width: 20px;
  margin-right: 5px;
  padding-bottom:2px;
}

.sub-icon{
  height: 17px;
  width: 17px;
  margin-right: 5px;
  padding-bottom:3px;
}

.sub-icon-nav{
  height: 13px;
  width: 13px;
  margin-right: 5px;
  padding-bottom:2px;
}

.icon-right{
  height: 12px;
  width: 12px;
  margin-bottom:3px;
  padding-right: 1px;
}

.geologo{
  height: 30px; 
  width: 50px;
}

.bpbd-logo{
  width:210px; 
  height: 100px;
}

#map{
  height: 600px;
  width: 945px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
