body {
	font-family:Arial, Helvetica, sans-serif;
}
.titlebar{
	height: 35px;
	background: #314977;
	margin-top: 25px;
	text-align: right;
	color: #ffffff;
	padding-right: 15px;
	padding-top: 5px;
}

.body-content{
	border-width: 1.5px;
	border-style: solid;
	border-color: #e8eded;
	padding: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #f9fcfc;
}

.title-content{
	border-width: 1.5px;
	border-style: solid;
	border-color: #e8eded;
	padding-left: 25px;
	padding-top: 5px;
	margin-bottom: 20px;
	background-color: #f9fcfe;
	color: #2b4e87;
}

.title{
	background: #2b4e87;
	height: 80px;
}

.title i{
	float: left;
	color: #ffffff;
	margin-left: 25px;
	margin-top: 15px;
}

.title h1{
	padding-top: 15px;
	color: #ffffff;
	padding-left: 50px;
	margin-left: 25px;
}

.require{
	color: red;
	margin-left: 5px;
}

button img{
	height: 15px;
	background: transparent;
}

a{
color:#ffffff;
text-decoration:none;
}

a:hover {
color:#ffffff;
text-decoration : none;
}

.menu {
	background-color: #ffffff;
}

.form{
	background-color: #ffffff;
	padding-top: 20px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 25px;
	margin-top: 0px;

}

.footer{
	background-color: #1d4484;
	color: #ffffff;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

.active {
  background-color: #7991b7;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}