@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);
body {
  /*background: rgba(245, 132, 33, 0.87);*/
  min-height: 100vh;
  width: auto;
}

.body-container{
  background-color: green;
  position: center;
  width: 800px;
  margin-left: 125px;
  height: 500px;

}

.title h1 {
  font-size: 3.5em;
  color: #fff;
}

.bar {
  height: .25em;
  width: 100%;
  background: #fff;
  margin: 1.5em auto 0;
}

.main {
  /*  background: $trans-orange;*/
  min-height: 50vh;
  position: relative;
  top: 20vh;
}

input[type=text], input[type=password] {
  font-size: 1.75em;
  padding: .55em;
  width: 100%;
  margin-bottom: 1em;
  border: none;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
input[type=text]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
input[type=text]::placeholder, input[type=password]::placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
input[type=text]:hover::-webkit-input-placeholder, input[type=text]:focus::-webkit-input-placeholder, input[type=password]:hover::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
  padding-top: 3em;
}
input[type=text]:hover:-ms-input-placeholder, input[type=text]:focus:-ms-input-placeholder, input[type=password]:hover:-ms-input-placeholder, input[type=password]:focus:-ms-input-placeholder {
  padding-top: 3em;
}
input[type=text]:hover::-ms-input-placeholder, input[type=text]:focus::-ms-input-placeholder, input[type=password]:hover::-ms-input-placeholder, input[type=password]:focus::-ms-input-placeholder {
  padding-top: 3em;
}
input[type=text]:hover::placeholder, input[type=text]:focus::placeholder, input[type=password]:hover::placeholder, input[type=password]:focus::placeholder {
  padding-top: 3em;
}

.form h2 {
  text-align: left;
  font-weight: 100;
  color: #fff;
  margin-bottom: .5em;
  margin-top: 30px;
}
.form h4 {
  font-weight: 100;
  color: #fff;
  margin-top: 2em;
}

.login, .signup {
  color: white;
  width: 6em;
  font-family: Lato;
  font-weight: 100;
  font-size: 1.75em;
  border: 2px solid rgba(255, 255, 255, 0.75);
  background: transparent;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border-radius: .65em;
}
.login:hover, .login:focus {
  background: #16dadd;
  color: #ffffff;
  border: none;
}

.signup:hover, .signup:focus {
  background: #ed490e;
  color: #ffffff;
  border: none;
} 

.signup {
  font-size: 1em;
  position: relative;
  left: 1.5em;
}

h1, h2 h3, h4, h5, h6, input {
  font: Lato;
  font-weight: 100;
}

h3{
      margin-top: 0px;
      padding-top: 0px;
      color: red;
    }

.simbar{
  color : #ffffff;
}