html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

p {
    font-size: 13px;
}

.panel-right {
    background: #fff;
    top: 56px;
    left: auto;
    right: 70px;
    bottom: auto;
    width: 330px;
    height: auto;
    position: fixed;
    cursor: move;
    z-index: 400
}

.map-title {
    background: #fff;
    top: 10px;
    right: 500px;
    bottom: auto;
    position: fixed;
    z-index: 400;
    margin: 0;
    padding: 5px;
}

.leaflet-control-layers-overlays {
    z-index: 500;
}